
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.login-form button, .auth-page button,#submit-register
{
    border-radius:5px;
    border:0;
    font-weight:100;
    color:#333;
    background-color:white;
    transition: 300ms;
    outline:none;
}
.ToDoHeader button
{
    height:30px;
    width:100px;
    border:0;
    color:white ;
    background:linear-gradient(to top right, rgb(0, 119, 188), rgb(145, 206, 242));    
    transition:300ms;
    outline:none;
}

.ToDoHeader
{    height:30px;
    width: 500px;
    margin: 0 auto;
}
.ToDoHeader input{
    height:30px;
    width: 300px;
  //  float : left;
}
.ToDoHeader button:hover
{
    background:linear-gradient(to bottom,rgb(0, 119, 188), rgb(145, 206, 242))
}
#submit-register
{
    margin-top:20px;
    width:100px;
    height:30px;
    transition:300ms;
}
.auth-page
{
    width:300px;
    height:300px;
    padding:15px;
    border-radius:15px;
    border:1px solid #333;
    background-color:#ffea99;
    display:flex;
    margin: 0 auto;
    justify-content:center;
    align-items:center;
}

.todo-main-page
{
    
}
.project-header
{
    width:500px;
    display:flex;
    background:#ffea99;
}

.project-title-with-edit-icons
{
    padding-top : 9px;
    height : 40px;
    width:500px;
    display:flex;
    justify-content: space-between;
}
.project-title
{
    //width:70%;
    padding-left : 10px;
    width : 450px;
    display:inline-block;
   // float:left;
}

.project-edit-icons 
{
    width : 40px;
   // margin-left : 400px;
}
// .project-edit-icons
// {
//     float:right;
// }padding : 0;


.todo-list
{ 
    display : flex;
    justify-content: center;
 //   overflow: scroll;
  //  margin-left:39%;
}
.todo-list ul
{
    list-style-type:none;
    padding : 0;

}

.todo-list li
{
    width:500px;
    padding : 0;
    margin-top  : 30px;

}

.project-tasks-list
{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}


.project-tasks-list li 
{
    margin-top  : 0px;
}

.add-task-form input
{
    width:380px;
    margin-left : 40px;
}
.add-task-form
{
    background: cornflowerblue
}

.simple-project-task
{
     width:500px;
    display:flex;
 
background: lightgray;


   // justify-content:space-between;
}

// .task-edit-icons 
// {
//     width : 100px;
//     margin-left : 400px;
//     display : none;
// }

.simple-project-task:hover 
{
    background-color:#ffea99;
}



.task-title:focus 
{
   //  background-color:#ffea99;
     cursor: none;
}

//  .task-title:focus   .task-edit-icons
// {
//     display : block !important;
// }

.simple-project-task:hover .task-edit-icons 
{
    display : block;
}

  
.task-title
{
    width:400px;
    float:left;
    margin-left : 15px;   
    word-wrap: break-word;
	overflow-wrap: break-word;  
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    margin-right : 15px;   
}

.task-is-done-check-box
{
    margin-left : 10px;
}
// .task-title-with-edit-icons
// {
//     width:150px;
// }
.main 
{
   overflow: hidden;
   width:100%;
   height:100%;
}
.login-form button{
    margin-top:20px;
    width:100px;
    height:30px;
    background-color:white;
}
.login-form input,.register-form input
{
    outline:none;
    width:200px;
    margin-top:5px;
}
.login-form button:hover, .auth-page button:hover,#submit-register:hover
{
    background:linear-gradient(to top right, rgb(0, 119, 188), rgb(145, 206, 242));
    color:white;    
}
#login-btn
{
    border-radius: 5px 0 0 5px;
    width:100px;
}
#register-btn
{
    border-radius:0px 5px 5px 0px;
    width:100px;
}

#logout-btn
{
    float : left;
}
.switcher
{
    margin-bottom:30px;
}
